.button {
  padding: 15px 55px;
  background-color: #807e7e;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 19px;
  transition: background-color 0.3s ease;
  

  /* Center the button */
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -200%);
  border-radius: 50px;
}

.button:hover {
  background-color: #555;
}

