.button {
  padding: 13px 45px;
  background-color: #a4a2a2;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 19px;
  transition: background-color 0.3s ease;

  /* Center the button */
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -200%);
  border-radius: 50px;
}

.button:hover {
  background-color: #555;
}
