/* App.css */
.body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(9, 0, 44, 0.853);
  height: 100vh; /* 100% of the viewport height */
}

.h1 {
  animation: hoverLoop 2s infinite, glowEffect 1s infinite;
  cursor: pointer; /* Add this if you want to indicate it's clickable */
}
