/* src/App.css */
body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  height: 50vh; /* Updated height to 100vh for full screen */
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #868585;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.logo img {
  max-width: 100%;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust height as needed */
  background-color: #ffffff;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}